<!DOCTYPE html>
<html>
   <head>
    

html { 
  background: url(https://previews.123rf.com/images/nexusplexus/nexusplexus1211/nexusplexus121101346/16352641-a-medical-background-with-a-heart-beat-pulse-with-a-heart-rate-monitor-symbol.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;bottom:40px; right:15px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  height: 450px;
  padding: 40px;
  text-align: center;
